.gradle
**/build/
**/out/
**/.idea/
**/*.iml
# Ignore Gradle GUI config
gradle-app.setting
*.jar

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

**.hprof

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### patch cruft
*.orig
*.rej

*DS_Store
.\!*

